/* ======================================================================= */
/* MAGICWALL STYLES
/* ======================================================================= */
.magicwall {
  position: relative;
  display: block; }
  .magicwall.magicwall-loading:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background: url(images/loading.gif) center center no-repeat rgba(200, 200, 200, 0.05);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .magicwall .magicwall-grid {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    list-style: none;
    font-size: 0;
    background: #000; }
    .magicwall .magicwall-grid > li {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0; }
      .magicwall .magicwall-grid > li > .magicwall-wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute; 
        -webkit-transform-style: preserve-3d}
        .magicwall .magicwall-grid > li > .magicwall-wrap > .magicwall-thumb {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5); }
      .magicwall .magicwall-grid > li.magicwall-loading > .magicwall-wrap:before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        background: url(images/loading.gif) center center no-repeat rgba(200, 200, 200, 0.05);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }


.te-front, 
.te-back { 
  -webkit-backface-visibility: hidden; 
}

.te-back { 
  -webkit-transform: rotate3d(1,0,0,-180deg);
}


/***************** Flip1 ********************/
.te-flip1.te-show .te-card{
  -webkit-animation: flip1 1s ease-in-out forwards;
}
@-webkit-keyframes flip1{
  0% { 
    -webkit-transform: rotate3d(1,0,0,0);
  }
  100% { 
    -webkit-transform: rotate3d(1,0,0,-180deg); 
  }
}
